@charset "UTF-8";
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

/* Header */
header .navbar {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1.5px 1.5px #acaaaa;
          box-shadow: 0px 1.5px 1.5px #acaaaa;
}

header .navbar .container .navbar-toggler {
  border-color: #ffffff;
  color: #ffffff;
}

header .navbar .container .offcanvas .header-nav .navbar-nav .nav-item {
  font-size: 1.05em;
  list-style: none;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

header .navbar .container .offcanvas .header-nav .navbar-nav .nav-item .active {
  color: #023C6D;
  padding: 5px;
  background-color: #DFEAEF;
  border-radius: 4%;
  font-weight: 500;
}

header .navbar .container .offcanvas .header-nav .navbar-nav .nav-item a {
  text-decoration: none;
  color: #023C6D;
  text-transform: uppercase;
}

header .navbar .container .offcanvas .header-nav .navbar-nav .nav-item a:hover {
  color: #359ac9;
}

/* Footer */
.footer {
  background-color: #023C6D;
}

.footer .container .row .logo .logo__icono {
  font-family: 'League Gothic', sans-serif;
  font-size: 6em;
  padding: 25px 0px;
  color: #1f1f1f;
}

.footer .container .row .info .info__seccion {
  font-size: 1.4em;
  padding-bottom: 10px;
  color: #1f1f1f;
  font-weight: 500;
  text-transform: uppercase;
}

.footer .container .row .info ul li {
  list-style: none;
  color: #1f1f1f;
  padding: 10px 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
}

.footer .container .row .info ul li a {
  text-decoration: none;
  color: #faebd7;
}

.footer .container .row .info ul li a:hover {
  color: #2bbde2;
}

.footer .copyright {
  background-color: #1f1f1f;
}

.footer .copyright p {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  letter-spacing: 1px;
  color: #487a99;
}

.footer .copyright p a {
  text-decoration: none;
}

.style-btn, .home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container .buttom a, .home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info .buttom a, .home-contenido-principal .home-obras .home-obras__container .buttom a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 1em;
  font-weight: lighter;
  display: inline-block;
  background-color: #487a99;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 4px 4px 4px #303030;
          box-shadow: 4px 4px 4px #303030;
}

/* Comienza el Home */
/* Home - Imagen de fondo */
.fondo-home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00000080), to(#00000080)), url(../img/home/fondo.jpg);
  background-image: linear-gradient(#00000080, #00000080), url(../img/home/fondo.jpg);
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 200px;
}

.fondo-home .fondo-home__slogan {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 3px;
  padding: 0px 30px;
  font-family: "Poppins";
  font-size: 3.5em;
  font-weight: 300;
}

.home-contenido-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home-contenido-principal .home-ing-y-diseño {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
  padding: 0px 70px;
}

.home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__img {
  width: 100%;
}

.home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__img img {
  width: 100%;
  height: 100%;
}

.home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container {
  width: 30%;
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5%;
}

.home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container .home-ing-y-diseño__titulo {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #487a99;
  font-family: "Poppins";
  font-size: 1.9em;
  font-weight: lighter;
}

.home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container .home-ing-y-diseño__descripcion {
  line-height: 2;
  color: #faebd7;
  font-family: None;
  font-size: 1.5em;
  font-weight: None;
}

.home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container .buttom {
  padding: 20px 0px;
  margin-top: 10px;
}

.home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container .buttom .style-btn:hover, .home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container .buttom a:hover, .home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container .home-contenido-adicional .home-contenido-adicional__info .buttom a:hover, .home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info .home-ing-y-diseño .home-ing-y-diseño__container .buttom a:hover, .home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container .home-obras .home-obras__container .buttom a:hover, .home-contenido-principal .home-obras .home-obras__container .home-ing-y-diseño .home-ing-y-diseño__container .buttom a:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.home-contenido-principal .home-contenido-adicional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 70px;
  margin-bottom: 150px;
}

.home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

.home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info img {
  width: 100%;
  height: 55%;
}

.home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info .info__titulo {
  padding: 10px 0px;
  text-transform: uppercase;
  color: #023C6D;
  font-family: "Poppins";
  font-size: 1.4em;
  font-weight: 600;
}

.home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info .info__descripcion {
  line-height: 1.8;
  font-family: "Poppins";
  font-size: 1.05em;
  font-weight: lighter;
}

.home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info .buttom {
  padding: 20px 0px;
  margin-top: 10px;
}

.home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info .buttom a {
  background-color: #1b854a;
}

.home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info .buttom a:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.home-contenido-principal .home-obras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
  padding: 0px 70px;
}

.home-contenido-principal .home-obras .home-obras__img {
  width: 100%;
}

.home-contenido-principal .home-obras .home-obras__img img {
  width: 100%;
  height: 100%;
}

.home-contenido-principal .home-obras .home-obras__container {
  width: 30%;
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

.home-contenido-principal .home-obras .home-obras__container .home-obras__titulo {
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 2em;
  font-weight: lighter;
  padding: 30px 0px;
  color: #487a99;
}

.home-contenido-principal .home-obras .home-obras__container .home-obras__descripcion {
  line-height: 1.8;
  font-size: 1.85em;
  font-family: None;
  font-size: 1.85em;
  font-weight: None;
  padding-bottom: 25px;
  color: #faebd7;
}

.home-contenido-principal .home-obras .home-obras__container .buttom {
  padding: 20px 0px;
  margin-top: 10px;
}

.home-contenido-principal .home-obras .home-obras__container .buttom a:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* Comienza Ingenieria y Diseño */
.ing-y-diseño .seccion {
  background-color: #023C6D;
  height: auto;
  padding: 60px;
  text-align: center;
}

.ing-y-diseño .seccion .seccion__nombre {
  color: #DFEAEF;
  font-weight: 500;
  font-family: 'Forum', cursive;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.ing-y-diseño .ing-y-diseño-galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
}

.ing-y-diseño .ing-y-diseño-galeria img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info {
  margin: 100px 50px;
}

.ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info .ing-y-diseño__titulo {
  font-size: 2em;
  color: #023C6D;
}

.ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info .ing-y-diseño__texto {
  font-family: 'Poppins', sans-serif;
  font-size: 1.05em;
  font-weight: lighter;
  padding-top: 30px;
  line-height: 2;
  text-align: left;
  padding-right: 100px;
}

.ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info .ing-y-diseño__texto span {
  font-weight: 600;
  color: #023C6D;
}

.ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info ul div li {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.05em;
  font-weight: lighter;
  line-height: 2;
  text-align: left;
}

.ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info .buttom {
  padding: 20px 0px;
  margin-top: 10px;
}

.ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info .buttom a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  display: inline-block;
  background-color: #159fc2;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 4px 4px 4px #303030;
          box-shadow: 4px 4px 4px #303030;
}

.ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info .buttom a:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* Comienza Obras */
.obras .seccion {
  background-color: #023C6D;
  height: auto;
  padding: 60px;
  text-align: center;
}

.obras .seccion .seccion__nombre {
  color: #DFEAEF;
  font-weight: 500;
  font-family: 'Forum', cursive;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.obras .obras-galeria {
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  padding-top: 50px;
}

.obras .obras-galeria .obras-galeria__obra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.obras .obras-galeria .obras-galeria__obra img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 75%;
}

.obras .obras-galeria .obras-galeria__obra img:hover {
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
}

.obras .obras-galeria .obras-galeria__obra .obra__descripcion .obra__nombre {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #2c6775;
  font-size: 2.3em;
  font-weight: 500;
  padding-top: 20px;
}

.obras .obras-galeria .obras-galeria__obra .obra__descripcion .obra__direccion {
  font-family: Barlow;
  font-size: 1.75em;
  color: #023C6D;
  padding-bottom: 20px;
}

/* Comienza Sobre Nosotros */
.sobre-nosotros .seccion {
  background-color: #023C6D;
  height: auto;
  padding: 60px;
  text-align: center;
}

.sobre-nosotros .seccion .seccion__nombre {
  color: #DFEAEF;
  font-weight: 500;
  font-family: 'Forum', cursive;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.sobre-nosotros .sobre-nosotros__quienes-somos {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000d0), to(#000000bd)), url(../img/sobre-nosotros/fondo.jpg);
  background-image: linear-gradient(#000000d0, #000000bd), url(../img/sobre-nosotros/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

.sobre-nosotros .sobre-nosotros__quienes-somos .sobre-nosotros__img img {
  border-radius: 50%;
  margin-top: 100px;
  margin-bottom: 70px;
}

.sobre-nosotros .sobre-nosotros__quienes-somos .sobre-nosotros__info .info__texto {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 2;
  padding: 0px 100px;
  margin-bottom: 70px;
  color: #ffffff;
}

.sobre-nosotros .sobre-nosotros__quienes-somos .sobre-nosotros__info .info__titulo {
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  margin-bottom: 70px;
}

.sobre-nosotros .sobre-nosotros__slogan {
  text-align: center;
  margin-top: 50px;
}

.sobre-nosotros .sobre-nosotros__slogan .slogan__texto {
  font-family: 'Forum', cursive;
  font-size: 3em;
  font-weight: 600;
  color: #023C6D;
  text-transform: uppercase;
}

.sobre-nosotros .sobre-nosotros__galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  margin: 150px 50px;
  background-color: #f3f3f3;
}

.sobre-nosotros .sobre-nosotros__galeria img {
  width: 100%;
  height: 100%;
}

.sobre-nosotros .sobre-nosotros__galeria img:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.sobre-nosotros .sobre-nosotros__galeria img:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.sobre-nosotros .sobre-nosotros__galeria img:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.sobre-nosotros .sobre-nosotros__galeria img:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.sobre-nosotros .sobre-nosotros__galeria img:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

/* Comienza Contacto */
.contacto .seccion {
  background-color: #023C6D;
  height: auto;
  padding: 60px;
  text-align: center;
}

.contacto .seccion .seccion__nombre {
  color: #DFEAEF;
  font-weight: 500;
  font-family: 'Forum', cursive;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.contacto .contacto__contenido-principal {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00000080), to(#00000080)), url(../img/contacto/fondo.jpg);
  background-image: linear-gradient(#00000080, #00000080), url(../img/contacto/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Contacto - Datos Contacto */
}

.contacto .contacto__contenido-principal .contenido-principal__datos-contacto {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto .contacto__contenido-principal .contenido-principal__datos-contacto .datos-contacto__titulo {
  font-size: 2em;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 30px;
}

.contacto .contacto__contenido-principal .contenido-principal__datos-contacto .datos-contacto__info {
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .contacto__contenido-principal .contenido-principal__datos-contacto .datos-contacto__info svg {
  color: #ffffff;
}

.contacto .contacto__contenido-principal .contenido-principal__datos-contacto .datos-contacto__info .info__titulo {
  font-size: 1.1em;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0px;
  padding-left: 10px;
}

.contacto .contacto__contenido-principal .contenido-principal__datos-contacto .info__descripcion ul {
  padding: 0px;
}

.contacto .contacto__contenido-principal .contenido-principal__datos-contacto .info__descripcion ul li {
  font-family: 'Forum', cursive;
  list-style: none;
  font-size: 1.8em;
  color: #ffffff;
  font-weight: 500;
}

.contacto .contacto__contenido-principal .contenido-principal__mapa {
  width: 40%;
}

.contacto .contacto__contenido-principal .contenido-principal__mapa iframe {
  width: 100%;
}

.contacto .contacto__container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0% 20%;
  margin-bottom: 30px;
  width: 100%;
}

.contacto .contacto__container-form .container-form__titulo {
  font-size: 2em;
  font-weight: 500;
  color: #023C6D;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contacto .contacto__container-form .container-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto .contacto__container-form .container-form__form .form__seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px;
}

.contacto .contacto__container-form .container-form__form .form__seccion .form__titulo {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  padding-bottom: 5px;
  color: #023C6D;
  text-transform: uppercase;
}

.contacto .contacto__container-form .container-form__form .form__seccion .form__texto {
  padding: 10px 15px;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1.5px;
  border: 1px solid #023C6D;
}

.contacto .contacto__container-form .container-form__form .form__seccion textarea {
  resize: vertical;
  padding: 10px;
  min-height: 250px;
}

.contacto .contacto__container-form .container-form__form .buttom input {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  display: inline;
  background-color: #159fc2;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  -webkit-box-shadow: 2px 2px 2px #303030;
          box-shadow: 2px 2px 2px #303030;
}

.contacto .contacto__container-form .container-form__form .buttom input:hover {
  background-color: #159fc2;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* Comienza Diseño Responsive */
@media screen and (max-width: 1200px) {
  /* Home */
  header .navbar .container .offcanvas .header-nav .navbar-nav li a {
    font-size: .92em;
  }
}

@media (min-width: 900px) and (max-width: 1023px) {
  /* Home */
  header .navbar .container .offcanvas .header-nav .navbar-nav li a {
    font-size: .92em;
  }
  .fondo-home .fondo-home__slogan {
    font-size: 3em;
  }
  .home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container .home-ing-y-diseño__descripcion {
    font-size: 1.3em;
  }
  .home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container .buttom a {
    font-size: .9em;
  }
  .home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info .info__titulo {
    font-size: 1.3em;
  }
  .home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info .info__descripcion {
    font-size: .9em;
  }
  .home-contenido-principal .home-obras .home-obras__container .home-obras__descripcion {
    font-size: 1.3em;
  }
  .footer .container .row .logo .logo__icono {
    font-size: 5em;
  }
  .footer .container .row .info h5 {
    font-size: 1.2em;
  }
  .footer .container .row .info ul li {
    font-size: .9em;
  }
  /* Ingeniería y Diseño */
  .ing-y-diseño__texto {
    font-size: .9em;
  }
  /* Contacto */
  .info__titulo {
    font-size: 1em;
  }
  .info__descripcion ul li {
    font-size: 1.4em;
  }
  .form__titulo {
    font-size: .9em;
  }
  .form__texto {
    font-size: .8em;
  }
  .buttom input {
    font-size: .9em;
  }
}

@media screen and (max-width: 899px) {
  .fondo-home .fondo-home__slogan {
    font-size: 2.5em;
  }
  .home-contenido-principal .home-ing-y-diseño {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container .home-ing-y-diseño__descripcion {
    font-size: 1.3em;
  }
  .home-contenido-principal .home-ing-y-diseño .home-ing-y-diseño__container .buttom a {
    font-size: .9em;
  }
  .home-contenido-principal .home-contenido-adicional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info {
    width: 100%;
    padding: 15px;
  }
  .home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info .info__titulo {
    font-size: 1.3em;
  }
  .home-contenido-principal .home-contenido-adicional .home-contenido-adicional__info .info__descripcion {
    font-size: 1em;
  }
  .home-contenido-principal .home-obras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-contenido-principal .home-obras .home-obras__container {
    width: 100%;
  }
  .home-contenido-principal .home-obras .home-obras__container .home-obras__descripcion {
    font-size: 1.3em;
  }
  .footer .container .row .logo .logo__icono {
    font-size: 4.5em;
  }
  .footer .container .row .info h5 {
    font-size: 1.5em;
  }
  .footer .container .row .info ul li {
    font-size: 1em;
  }
  /* Ingeniería y Diseño */
  .ing-y-diseño .seccion {
    padding: 50px;
  }
  .ing-y-diseño .seccion .seccion__nombre {
    font-size: 1.5em;
  }
  .ing-y-diseño .ing-y-diseño-galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row: repeat(10, auto);
  }
  .ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info .ing-y-diseño__titulo {
    font-size: 1.8em;
  }
  .ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info .ing-y-diseño__texto {
    font-size: 1em;
    padding-right: 0px;
  }
  .ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info ul div li {
    font-size: .89em;
  }
  .ing-y-diseño .ing-y-diseño-galeria img:nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info:nth-child(2) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info:nth-child(3) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .ing-y-diseño .ing-y-diseño-galeria img:nth-child(4) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .ing-y-diseño .ing-y-diseño-galeria img:nth-child(5) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info:nth-child(6) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info:nth-child(7) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 8;
    grid-row: 8;
  }
  .ing-y-diseño .ing-y-diseño-galeria img:nth-child(8) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 7;
    grid-row: 7;
  }
  .ing-y-diseño .ing-y-diseño-galeria img:nth-child(9) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 9;
    grid-row: 9;
  }
  .ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info:nth-child(10) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 10;
    grid-row: 10;
  }
  /* Obras */
  .obras .obras-galeria .obras-galeria__obra {
    padding: 10px;
    text-align: center;
  }
  .obras .obras-galeria .obras-galeria__obra .obras-galeria__obra img {
    width: 100%;
  }
  .obras .obras-galeria .obras-galeria__obra .obra__descripcion .obra__nombre {
    font-size: 1.8em;
  }
  .obras .obras-galeria .obras-galeria__obra .obra__descripcion .obra__direccion {
    font-size: 1.2em;
  }
  /* Sobre Nosotros */
  .sobre-nosotros .sobre-nosotros__quienes-somos .sobre-nosotros__info .info__texto {
    font-size: 1.1em;
    padding: 0px 60px;
  }
  .sobre-nosotros .sobre-nosotros__slogan {
    padding: 0px 10px;
  }
  .sobre-nosotros .sobre-nosotros__slogan .slogan__texto {
    font-size: 1.8em;
  }
  .sobre-nosotros .sobre-nosotros__galeria {
    margin: 50px 15px;
  }
  /* Contacto */
  .contacto .contacto__contenido-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacto .contacto__contenido-principal .contenido-principal__datos-contacto .datos-contacto__titulo {
    font-size: 1.8em;
  }
  .contacto .contacto__contenido-principal .contenido-principal__datos-contacto .datos-contacto__info .info__titulo {
    font-size: .9em;
  }
  .contacto .contacto__contenido-principal .contenido-principal__datos-contacto .info__descripcion ul li {
    font-size: 1.4em;
  }
  .contacto .contacto__contenido-principal .contenido-principal__mapa {
    width: 60%;
    margin-bottom: 50px;
  }
  .contacto .contacto__container-form .container-form__titulo {
    font-size: 1.8em;
  }
  .contacto .contacto__container-form .container-form__form .form__seccion .form__titulo {
    font-size: .8em;
  }
  .contacto .contacto__container-form .container-form__form .form__seccion .form__texto {
    font-size: .8em;
  }
  .contacto .contacto__container-form .container-form__form .form__seccion .buttom input {
    font-size: .8em;
  }
}

@media screen and (max-width: 650px) {
  /* Header */
  header .navbar .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header .navbar .container a img {
    width: 90%;
    height: 90%;
  }
  /* Home */
  .fondo-home {
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
  }
  .home-contenido-principal .home-ing-y-diseño {
    padding: 10px;
    margin-bottom: 100px;
  }
  .home-contenido-principal .home-contenido-adicional {
    padding: 0px;
    margin-bottom: 75px;
  }
  .home-contenido-principal .home-obras {
    padding: 10px;
    margin-bottom: 100px;
  }
  /* Ingeniería y Diseño */
  .ing-y-diseño .ing-y-diseño-galeria .ing-y-diseño__info {
    margin: 30px 10px;
  }
  /* Sobre Nosotros */
  .sobre-nosotros .sobre-nosotros__quienes-somos .sobre-nosotros__img img {
    margin-bottom: 50px;
  }
  .sobre-nosotros .sobre-nosotros__quienes-somos .sobre-nosotros__info .info__titulo {
    font-size: 1.3em;
  }
  .sobre-nosotros .sobre-nosotros__quienes-somos .sobre-nosotros__info .info__texto {
    padding: 0px;
    font-size: 1em;
    padding: 0px 5px;
    margin-bottom: 50px;
  }
  /* Contacto */
  .contacto .contacto__contenido-principal .contenido-principal__mapa {
    width: 90%;
  }
  .contacto .contacto__container-form {
    padding: 30px 10px;
  }
  .contacto .contacto__container-form .container-form__form .buttom input {
    font-size: .8em;
  }
}
/*# sourceMappingURL=main.css.map */