/* Comienza Ingenieria y Diseño */
.ing-y-diseño {
    // Ingeniería y Diseño - Sección //
    .seccion {
        background-color:#023C6D;
        height: auto;
        padding: 60px;
        text-align: center;
        .seccion__nombre {
            color:#DFEAEF;
            font-weight: 500;
            font-family: 'Forum', cursive;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
    // Ingeniería y Diseño - Galería //
    .ing-y-diseño-galeria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, auto);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .ing-y-diseño__info {
            margin: 100px 50px;
            .ing-y-diseño__titulo {
                font-size: 2em;
                color:#023C6D;
            }
            .ing-y-diseño__texto {
                font-family: 'Poppins', sans-serif;
                font-size: 1.05em;
                font-weight: lighter;
                padding-top: 30px;
                line-height: 2;
                text-align: left;
                padding-right: 100px;
                span {
                    font-weight: 600;
                    color: #023C6D;
                }
            }
            ul {
                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    li {
                        list-style: none;
                        font-family: 'Poppins', sans-serif;
                        font-size: 1.05em;
                        font-weight: lighter;
                        line-height: 2;
                        text-align: left;
                    }
                }
            }
            .buttom {
                padding: 20px 0px;
                margin-top: 10px;
                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-family: 'Poppins', sans-serif;
                    font-size: 1em;
                    font-weight: lighter;
                    display: inline-block;
                    background-color:#159fc2;
                    padding: 10px 30px;
                    text-align: center;
                    text-transform: uppercase;
                    box-shadow: 4px 4px 4px #303030;
                }
                a:hover {
                    transform: scale(1.03, 1.03);
                    transition: all .5s;
                }
            }
        }
    }
}