$color-principal: #023C6D;
$fuente-seccion: font-family 'Forum', cursive;
$fuente-principal: font-family 'Poppins', sans-serif;
$h-size-xl: 2.3em;
$h-size-l: 2em;
$h-size-md: 1.75em;
$p-size-p-l: 1.2em;
$p-size-md: 1.05em;